<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>404-Page not found</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 
    <lottie-player src="https://lottie.host/bbeaff76-3141-46ca-8ae8-5ba0735a732c/j7pu4e1Zvg.json" background="transparent" speed="1" style="height: 100vh;" loop autoplay></lottie-player>
</head>
<body>
</body>
</html>