<link rel="stylesheet" href="/assets3/css/maind134.css?v=3.4">

<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="/">Home </a></li>
            <li> <a href="/account">Account</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link " id="dashboard-tab"  href="/account" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="account-detail-tab" href="/account/account-details" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="track-orders-tab" href="/account/add-address" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Add Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab"  href="/account/manage-address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>Manage Address</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" href="/account/orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout"><i class="frs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                                   
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Add Address</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                         <!-- flash message -->
                                            <% messages.forEach(element=> { %>
                                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                                <%= element %>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            <% }) %>
                                            <!-- express validator message -->
                                            <% if(typeof alert != 'undefined') { %>
                                                <% alert.forEach(function(error) { %>
                                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                        <%= error.msg %>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">x</span>
                                                        </button>
                                                      </div>
                                                <% }) %>
                                            <% } %>
                                                <p>Here you can add new address were your product will be delivered.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="/account/add-address" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Name</label>
                                                                <input  required name="name" placeholder="Name" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Mobile number</label>
                                                                <input  required name="mobile" placeholder="Mobile number" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>State</label>
                                                                <input required  name="state" placeholder="State" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>District</label>
                                                                <input required  name="district" placeholder="District" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>City</label>
                                                                <input required  name="city" placeholder="City" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Postal code</label>
                                                                <input  required name="pin" placeholder="Postal code" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Address</label>
                                                                <input required name="address" placeholder="Address" type="text" class="square">
                                                            </div>
                                                            
                                                            <button class="submit submit-auto-width" type="submit">Add address</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<main>