<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="#">Home </a></li>
            <li> <a href="#">Cart</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section block-cart">
      <div class="container">
        <div class="row mt-20">
          <div class="col-lg-7">
            <div class="box-title-cart">
              <h4>Your Cart</h4>
              <h6>2 items</h6>
            </div>
            <div class="list-items-cart">
              <div class="item-cart">
                <div class="item-cart-image"><img src="assets/imgs/page/cart/sp2.png" alt="Guza"></div>
                <div class="item-cart-info">
                  <div class="item-cart-info-1"><a class="text-16-medium" href="#">Ball Crew Shirt</a>
                    <div class="box-info-size-color-product">
                      <p class="box-color"><span class="body-p2 neutral-medium-dark">Color:</span><span class="body-p2 neutral-dark">Navy</span></p>
                      <p class="box-size"><span class="body-p2 neutral-medium-dark">Size:</span><span class="body-p2 neutral-dark">S</span></p>
                    </div>
                    <div class="box-form-cart">
                      <div class="form-cart detail-qty"><span class="minus"></span>
                        <input class="qty-val form-control" type="text" name="quantity" value="1" min="1"><span class="plus"></span>
                      </div>
                    </div>
                  </div>
                  <div class="item-cart-info-2">
                    <p class="body-p2">$24.00</p><a class="btn-remove-cart" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-coupon">
              <div class="coupon-left">
                <input class="form-control input-coupon" type="text" placeholder="Coupon code">
                <button class="btn btn-border">Apply</button>
              </div>
              <div class="coupon-right"><a class="btn btn-border" href="#">Update Cart</a></div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="box-detail-cart">
              <h4 class="mb-25">Order Summary</h4>
              <div class="box-info-cart">
                <div class="d-flex align-items-center justify-content-between box-border-bottom">
                  <h5 class="neutral-medium-dark">Subtotal</h5>
                  <h5 class="neutral-dark">$59.00</h5>
                </div>
                <div class="box-info-cart-inner">
                  <p class="text-17-medium text-uppercase mb-15">Shipping</p>
                  <div class="list-radio">
                    <div class="item-radio">
                      <label>
                        <input type="radio" name="shipping" checked="checked">Flat rate: $50.00
                      </label><span class="price-ship">$50.00</span>
                    </div>
                    <div class="item-radio">
                      <label>
                        <input type="radio" name="shipping">Local pickup: $60.00
                      </label>
                    </div>
                  </div>
                  <p class="body-p2 neutral-medium-dark mb-12">Shipping options will be updated during checkout.</p><a class="text-17 calculate-shipping" href="#">Calculate shipping</a>
                </div>
                <div class="d-flex align-items-center justify-content-between box-total-bottom">
                  <h5 class="neutral-medium-dark">Total</h5>
                  <h5 class="neutral-dark">$109.00</h5>
                </div>
                <div class="box-button-cart"><a class="btn btn-black" href="/checkout">Proceed To Checkout</a></div>
                <div class="box-other-link"><a class="text-17 link-green" href="#">Free shipping on orders over $200.00</a><a class="text-17" href="#">Continue Shopping</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-30">
            <h5 class="color-white mb-20">Receive an exclusive<span class="tone-red">20%</span><br class="d-none d-md-block">discount code when you<br class="d-none d-md-block">signup.</h5>
            <div class="box-form-subscribe box-form-subscribe-white">
              <form class="form-sub" action="#" method="POST">
                <input class="form-control" type="text" placeholder="Enter your email">
                <input class="btn btn-subscribe" type="submit" value="Subscribe">
              </form>
            </div>
          </div>
          <div class="col-lg-8 mb-30">
            <div class="row">
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Company</h6>
                <ul class="menu-footer">
                  <li><a href="about-us-1.html">About us</a></li>
                  <li><a href="carrers.html">Careers</a></li>
                  <li><a href="store-location.html">Store Locator</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Customer Care</h6>
                <ul class="menu-footer">
                  <li><a href="about-us-1.html">Size Guide</a></li>
                  <li><a href="team.html">Help & FAQs</a></li>
                  <li><a href="career.html">Return My Order</a></li>
                  <li><a href="#">Refer a Friend</a></li>
                </ul>
              </div>
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Terms & Policies</h6>
                <ul class="menu-footer">
                  <li><a href="#">Duties & Taxes</a></li>
                  <li><a href="#">Shipping Info</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms Conditions</a></li>
                </ul>
              </div>
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Follow Us</h6>
                <ul class="menu-footer">
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Pinterest</a></li>
                  <li><a href="#">Tiktok</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="container">
        <div class="footer-bottom">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img class="mr-25 d-inline-block align-middle logo-footer-img" src="assets/imgs/template/logo-light.svg" alt="Guza"><span class="body-p1 color-white d-inline-block align-middle">© 2023 Guza.Co. All rights reserved</span></div>
            <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
              <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                <div class="d-inline-block box-payments mr-20"><img src="assets/imgs/template/icons/visa.svg" alt="Guza"><img src="assets/imgs/template/icons/master.svg" alt="Guza"><img src="assets/imgs/template/icons/stripe.svg" alt="Guza"><img src="assets/imgs/template/icons/paypal.svg" alt="Guza"></div>
                <div class="dropdown mr-20">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">JP</a></li>
                    <li><a class="dropdown-item" href="#">KR</a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button" data-bs-toggle="dropdown" aria-expanded="false">USD</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                    <li><a class="dropdown-item" href="#">USD</a></li>
                    <li><a class="dropdown-item" href="#">EURO</a></li>
                    <li><a class="dropdown-item" href="#">AUD</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>