<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="#">Home </a></li>
            <li> <a href="#">Checkout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section block-cart">
      <div class="container mb-100 mt-60">
        <form action="#"> 
          <div class="row mt-20"> 
            <div class="col-lg-6">
              <div class="box-customer-login">
                 Returning customer? <a href="#">Click here to login</a></div>
              <div class="box-gift-coupon">
                 Have a coupon?  <a href="#">Click here to enter your code</a></div>
              <div class="box-title-checkout mt-30">
                <h4 class="mb-25">Billing Details</h4>
                <h5 class="mb-20">Contact information</h5>
              </div>
              <div class="box-form-checkout form-comment"> 
                <div class="form-group"> 
                  <label class="form-label" for="email">Email Address *</label>
                  <input class="form-control" id="email" type="text">
                  <label class="mt-12">
                    <input class="cb-left" type="checkbox">Email me with news and offers 
                  </label>
                </div>
                <h4 class="mt-32 mb-25">Shipping address </h4>
                <div class="row"> 
                  <div class="col-lg-6"> 
                    <div class="form-group"> 
                      <label class="form-label" for="firstname">First Name *</label>
                      <input class="form-control" id="firstname" type="text">
                    </div>
                  </div>
                  <div class="col-lg-6"> 
                    <div class="form-group"> 
                      <label class="form-label" for="lastname">Last Name *</label>
                      <input class="form-control" id="lastname" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="region">Country / Region *</label>
                      <input class="form-control" id="region" type="text" value="United Kingdoom (UK)">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="address">Street Address *</label>
                      <input class="form-control" id="address" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="apartment">Apartment, suite, unit, etc. (optional)</label>
                      <input class="form-control" id="apartment" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="towncity">Town / City *</label>
                      <input class="form-control" id="towncity" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="country">Country (optional)</label>
                      <input class="form-control" id="country" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="postcode">Postcode *</label>
                      <input class="form-control" id="postcode" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="phone">Phone *</label>
                      <input class="form-control" id="phone" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label>
                        <input class="cb-left" type="checkbox">Create an account? 
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label> 
                        <input class="cb-left" type="checkbox">Ship to a different address?
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-12"> 
                    <div class="form-group"> 
                      <label class="form-label" for="ordernote">Order Note (optional)</label>
                      <textarea class="form-control" id="ordernote" rows="6"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-detail-cart">
                <h4 class="mb-25">Your Order</h4>
                <div class="box-info-cart"> 
                  <p class="text-17-medium text-uppercase">Product</p>
                  <div class="box-info-checkout-inner">
                    <div class="list-items-cart"> 
                      <div class="item-cart"> 
                        <div class="item-cart-image"> <img src="assets/imgs/page/cart/sp.png" alt="Guza"></div>
                        <div class="item-cart-info">
                          <div class="item-cart-info-1"> <a class="text-17-medium" href="#">Ball Crew Shirt - x1</a>
                            <p class="box-color"><span class="body-p2 neutral-medium-dark">Color: </span><span class="body-p2 neutral-dark">Navy </span></p>
                            <p class="box-size"> <span class="body-p2 neutral-medium-dark">Size:  </span><span class="body-p2 neutral-dark">S  </span></p>
                          </div>
                          <div class="item-cart-info-2"> 
                            <p class="body-p2">$24.00</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between box-border-bottom">
                    <h5 class="neutral-medium-dark">Subtotal</h5>
                    <h5 class="neutral-dark">$24.00</h5>
                  </div>
                  <div class="box-info-cart-inner">
                    <p class="text-17-medium text-uppercase mb-15 neutral-medium-dark">Shipping</p>
                    <div class="list-radio"> 
                      <div class="item-radio">
                        <label>
                          <input type="radio" name="shipping" checked="checked">Flat rate: $50.00
                        </label><span class="price-ship">$50.00</span>
                      </div>
                      <div class="item-radio">
                        <label>
                          <input type="radio" name="shipping">Local pickup: $60.00
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between box-border-bottom">
                    <h5 class="neutral-medium-dark">Total</h5>
                    <h5 class="color-9">$74.00        </h5>
                  </div>
                  <div class="box-other-link text-start box-border-bottom"> <span class="text-17 link-green">Free shipping on orders over $200.00</span><a class="text-17" href="#">Continue Shopping</a></div>
                  <div class="box-payment-method"> 
                    <p class="text-17-medium text-uppercase mb-15 neutral-medium-dark">Shipping</p>
                    <div class="list-radio"> 
                      <div class="item-radio">
                        <label>
                          <input type="radio" name="payment" checked="checked">Direct bank transfer
                        </label>
                        <p class="body-p2 neutral-medium-dark extra-info active">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                      </div>
                      <div class="item-radio">
                        <label>
                          <input type="radio" name="payment">Cash on delivery
                        </label>
                        <p class="body-p2 neutral-medium-dark extra-info">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                      </div>
                      <div class="item-radio">
                        <label>
                          <input type="radio" name="payment">Credit Card (Stripe)
                        </label>
                        <p class="body-p2 neutral-medium-dark extra-info">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                      </div>
                      <div class="item-radio">
                        <label>
                          <input type="radio" name="payment">Paypal
                        </label>
                        <p class="body-p2 neutral-medium-dark extra-info">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-desc-checkout"> 
                    <p class="body-p2 neutral-medium-dark mb-20">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                    <div class="form-group"> 
                      <label>
                        <input class="cb-left" type="checkbox">I agree to the website <a href="#">terms and conditions *</a>
                      </label>
                    </div>
                  </div>
                  <div class="box-button-checkout"> <a class="btn btn-black" href="#">Place Order</a></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-30">
            <h5 class="color-white mb-20">Receive an exclusive<span class="tone-red">20%</span><br class="d-none d-md-block">discount code when you<br class="d-none d-md-block">signup.</h5>
            <div class="box-form-subscribe box-form-subscribe-white">
              <form class="form-sub" action="#" method="POST">
                <input class="form-control" type="text" placeholder="Enter your email">
                <input class="btn btn-subscribe" type="submit" value="Subscribe">
              </form>
            </div>
          </div>
          <div class="col-lg-8 mb-30">
            <div class="row">
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Company</h6>
                <ul class="menu-footer">
                  <li><a href="about-us-1.html">About us</a></li>
                  <li><a href="carrers.html">Careers</a></li>
                  <li><a href="store-location.html">Store Locator</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Customer Care</h6>
                <ul class="menu-footer">
                  <li><a href="about-us-1.html">Size Guide</a></li>
                  <li><a href="team.html">Help & FAQs</a></li>
                  <li><a href="career.html">Return My Order</a></li>
                  <li><a href="#">Refer a Friend</a></li>
                </ul>
              </div>
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Terms & Policies</h6>
                <ul class="menu-footer">
                  <li><a href="#">Duties & Taxes</a></li>
                  <li><a href="#">Shipping Info</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms Conditions</a></li>
                </ul>
              </div>
              <div class="col-lg-3 mb-30 footerBorder">
                <h6 class="color-white mb-20">Follow Us</h6>
                <ul class="menu-footer">
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Pinterest</a></li>
                  <li><a href="#">Tiktok</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="container">
        <div class="footer-bottom">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img class="mr-25 d-inline-block align-middle logo-footer-img" src="assets/imgs/template/logo-light.svg" alt="Guza"><span class="body-p1 color-white d-inline-block align-middle">© 2023 Guza.Co. All rights reserved</span></div>
            <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
              <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                <div class="d-inline-block box-payments mr-20"><img src="assets/imgs/template/icons/visa.svg" alt="Guza"><img src="assets/imgs/template/icons/master.svg" alt="Guza"><img src="assets/imgs/template/icons/stripe.svg" alt="Guza"><img src="assets/imgs/template/icons/paypal.svg" alt="Guza"></div>
                <div class="dropdown mr-20">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">JP</a></li>
                    <li><a class="dropdown-item" href="#">KR</a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button" data-bs-toggle="dropdown" aria-expanded="false">USD</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                    <li><a class="dropdown-item" href="#">USD</a></li>
                    <li><a class="dropdown-item" href="#">EURO</a></li>
                    <li><a class="dropdown-item" href="#">AUD</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
