<main class="main">
        <section class="section banner-about-us2">
            <div class="box-cover-image wow fadeInUp" style="background-image:url(ass/imgs/page/about1/banner-2.png)">
            </div>
            <div class="box-banner-info ">
                <p class="overline-t2-medium primary-navy mb-10">CONTACT</p>
                <h1 class="color-primary-dark mb-30">Haven't found what <br class="d-block">you're looking for? <br class="d-block">Contact us.</h1>
            </div>
        </section>
    <section class="section block-form-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-40 ">
                 
                    <h4 class="mb-20">Contact</h4>
                    <p class="body-p2 neutral-medium-dark mb-10">Phone:+91 7907369017</p>
                    <p class="body-p2 neutral-medium-dark mb-45">Email:govindpvenu@gmail</p>
                    <h4 class="mb-15">Hour of Operation</h4>
                    <p class="body-p2 neutral-medium-dark mb-45">Mon - Fri: 08:30 - 05:00<br>Sat & Sun: 09:30 - 12:30
                    </p>

                </div>
                <div class="col-lg-6 mb-80 ">
                    <p class="text-17-medium text-uppercase mb-10 primary-navy">our shop</p>
                    <h3 class="mb-15">We value your Time and Honesty</h3>
                    <p class="body-p2 neutral-medium-dark mb-25">We aspire to be your go-to destination for all things shoes. Whether
                        you're shopping for everyday essentials, a special
                        event, or the latest trends, Guza Shoes is here to make your shoe-buying experience enjoyable and memorable.
                    </p>
                    <h4>Address</h4>
                    <p class="body-p2 neutral-medium-dark mb-45">Edathuruthikaran Holdings, 10/450-2, Kundannoor, Maradu,
                        Kochi-Madurai-Tondi Point Rd, Ernakulam, Kerala - 682304</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img
                        class="mr-25 d-inline-block align-middle logo-footer-img"
                        src="assets2/imgs/template/logo-light.svg" alt="Guza"><span
                        class="body-p1 color-white d-inline-block align-middle">© 2023 Guza.Co. All rights
                        reserved</span></div>
                <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
                    <div
                        class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                        <div class="dropdown mr-20">
                            <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                                <li><a class="dropdown-item" href="#">EN</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">IND</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                                <li><a class="dropdown-item" href="#">IND</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>